numpy~=2.3.2
pandas~=2.3.1
templateflow~=24.2.2
nibabel~=5.3.2
nilearn~=0.11.1
scipy~=1.16.1
psutil~=7.0.0
matplotlib~=3.10.5
seaborn~=0.13.2
debugpy~=1.8.15
h5py~=3.14.0
google-auth~=2.40.3
google-api-python-client~=2.177.0
